flow.json
[{"id":"1f9ec913.5f4dd7","type":"tab","label":"UI","disabled":false,"info":"Layout for home brewery"},{"id":"a07b01c6.9ff6c","type":"tab","label":"Temperature","disabled":false,"info":"Designed for a single vessel eBIAB"},{"id":"2015bbf4.93ff34","type":"tab","label":"Pump","disabled":false,"info":"Pump control for recirculating mash and transfer"},{"id":"bd9705c2.b4b038","type":"tab","label":"Mash Controls","disabled":false,"info":"Modified from [brew2 by Justin Angevaare](https://github.com/jangevaare/brew2) to fit my eBIAB setup."},{"id":"f7281d18.94091","type":"tab","label":"Boil Controls","disabled":false,"info":"Modified from [brew2 by Justin Angevaare](https://github.com/jangevaare/brew2) to fit my eBIAB setup."},{"id":"b092337.00d0bd","type":"tab","label":"Element Control","disabled":false,"info":""},{"id":"82c8b786.2413b8","type":"tab","label":"Mash Timer","disabled":false,"info":""},{"id":"f9361016.64d3a","type":"tab","label":"Hop Schedule","disabled":false,"info":""},{"id":"690103f.e8873fc","type":"tab","label":"BeerXML Importer","disabled":false,"info":"Import data from BeerXML, i.e. exported from Beersmith.  Currently will not work properly if the beer is setup as an extract recipe."},{"id":"b0308f5c.c7eeb","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#e5e9f0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Nord","default":"#4B7930","baseColor":"#2e3440","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#2e3440","value":"#2e3440","edited":true},"page-titlebar-backgroundColor":{"value":"#3b4252","edited":true},"page-backgroundColor":{"value":"#2e3440","edited":true},"page-sidebar-backgroundColor":{"value":"#2e3340","edited":true},"group-textColor":{"value":"#e5e9f0","edited":true},"group-borderColor":{"value":"#5e81ac","edited":true},"group-backgroundColor":{"value":"#5e81ac","edited":true},"widget-textColor":{"value":"#e5e9f0","edited":true},"widget-backgroundColor":{"value":"#5e81ac","edited":true},"widget-borderColor":{"value":"#3b4252","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Redtide Home Brewery","hideToolbar":"true","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":45,"sy":45,"gx":5,"gy":5,"cx":5,"cy":5,"px":5,"py":5},"lockMenu":"true"}},{"id":"3cb155f7.6be40a","type":"ui_tab","z":"","name":"Brewery Controls","icon":"fa-beer","order":1,"disabled":false,"hidden":false},{"id":"e6debdc.0ae344","type":"ui_group","z":"","name":"Current Data","tab":"3cb155f7.6be40a","order":2,"disp":true,"width":"6","collapse":false},{"id":"3b6734fa.5e42bc","type":"ui_group","z":"","name":"Mash Controls","tab":"3cb155f7.6be40a","order":3,"disp":true,"width":"6","collapse":false},{"id":"fe0e595f.1220a8","type":"ui_group","z":"","d":true,"name":"Outer Loop","tab":"bfe58894.7ff6b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b796781e.7ed9a8","type":"ui_group","z":"","d":true,"name":"Inner Loop","tab":"bfe58894.7ff6b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"426c6441.51808c","type":"ui_group","z":"","name":"Mash","tab":"bfe58894.7ff6b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bfe58894.7ff6b8","type":"ui_tab","z":"","name":"Mash Settings","icon":"fa-empire","order":3,"disabled":false,"hidden":false},{"id":"4a3e9b05.d9d7d4","type":"ui_spacer","name":"spacer","group":"b796781e.7ed9a8","order":2,"width":2,"height":1},{"id":"5e25d45b.f73a7c","type":"ui_spacer","name":"spacer","group":"b796781e.7ed9a8","order":10,"width":1,"height":1},{"id":"f04115c8.c45ff8","type":"ui_spacer","name":"spacer","group":"fe0e595f.1220a8","order":1,"width":2,"height":1},{"id":"5ac1b3e9.ef892c","type":"ui_spacer","name":"spacer","group":"fe0e595f.1220a8","order":9,"width":2,"height":1},{"id":"35672d40.9a5562","type":"ui_spacer","name":"spacer","group":"fe0e595f.1220a8","order":11,"width":1,"height":1},{"id":"b70d35b1.a02c38","type":"ui_spacer","name":"spacer","group":"fe0e595f.1220a8","order":13,"width":1,"height":1},{"id":"4058c32e.b8000c","type":"ui_group","z":"","name":"Boil Controls","tab":"3cb155f7.6be40a","order":4,"disp":true,"width":"6","collapse":false},{"id":"e8db3ce4.e1ff4","type":"ui_group","z":"","name":"Timer","tab":"3cb155f7.6be40a","order":5,"disp":true,"width":"6","collapse":false},{"id":"d443b2fb.21fcb","type":"ui_tab","z":"","name":"Boil Settings","icon":"fa-rebel","order":4,"disabled":false,"hidden":false},{"id":"de9aaa9a.34f378","type":"ui_group","z":"","name":"Boil","tab":"d443b2fb.21fcb","order":1,"disp":true,"width":"6","collapse":false},{"id":"7d100815.d0f7a8","type":"ui_group","z":"","name":"BeerXML","tab":"3fade2b6.4a3ade","order":2,"disp":false,"width":"6","collapse":false},{"id":"179ec222.a8d4ce","type":"ui_spacer","name":"spacer","group":"3b6734fa.5e42bc","order":1,"width":1,"height":1},{"id":"c9d497c9.f23d98","type":"ui_spacer","name":"spacer","group":"3b6734fa.5e42bc","order":3,"width":1,"height":1},{"id":"3de851b2.b71e4e","type":"ui_spacer","name":"spacer","group":"3b6734fa.5e42bc","order":6,"width":1,"height":1},{"id":"d1e237c5.2ae998","type":"ui_spacer","name":"spacer","group":"3b6734fa.5e42bc","order":7,"width":1,"height":1},{"id":"62dee11e.4703d","type":"ui_spacer","name":"spacer","group":"3b6734fa.5e42bc","order":9,"width":1,"height":1},{"id":"a3905021.b62ea","type":"ui_spacer","name":"spacer","group":"4058c32e.b8000c","order":1,"width":1,"height":1},{"id":"66e1194f.f8b0d8","type":"ui_spacer","name":"spacer","group":"4058c32e.b8000c","order":3,"width":1,"height":1},{"id":"920f2caf.69ff9","type":"ui_spacer","name":"spacer","group":"4058c32e.b8000c","order":4,"width":1,"height":1},{"id":"6909893c.668388","type":"ui_spacer","name":"spacer","group":"4058c32e.b8000c","order":6,"width":1,"height":1},{"id":"5c35c16a.0df79","type":"ui_spacer","name":"spacer","group":"e8db3ce4.e1ff4","order":3,"width":1,"height":1},{"id":"e9812406.cb9a88","type":"ui_spacer","name":"spacer","group":"e8db3ce4.e1ff4","order":1,"width":1,"height":1},{"id":"a503ec75.49c4b","type":"ui_spacer","name":"spacer","group":"e8db3ce4.e1ff4","order":9,"width":"6","height":"3"},{"id":"117eb9f.0577946","type":"ui_spacer","name":"spacer","group":"e8db3ce4.e1ff4","order":7,"width":"6","height":"2"},{"id":"3fade2b6.4a3ade","type":"ui_tab","z":"","name":"General Settings","icon":"fa-rebel","order":2,"disabled":false,"hidden":false},{"id":"2344d5b7.69d99a","type":"ui_group","z":"","d":true,"name":"Hop Schedule","tab":"3cb155f7.6be40a","order":6,"disp":true,"width":"6","collapse":false},{"id":"cdad6f0e.8aec9","type":"ui_spacer","name":"spacer","group":"e8db3ce4.e1ff4","order":4,"width":1,"height":1},{"id":"4fab7681.98ef98","type":"ui_spacer","name":"spacer","group":"e8db3ce4.e1ff4","order":6,"width":1,"height":1},{"id":"345f7f9a.a09d2","type":"ui_spacer","d":true,"name":"spacer","group":"e6debdc.0ae344","order":6,"width":"6","height":"1"},{"id":"9b7181a6.bfbce","type":"ui_group","z":"","d":true,"name":"Beer Name","tab":"3cb155f7.6be40a","order":1,"disp":false,"width":"27","collapse":false},{"id":"d12b485c.97f008","type":"ui_spacer","name":"spacer","group":"3b6734fa.5e42bc","order":4,"width":1,"height":1},{"id":"97bf06ee.89c1e8","type":"ui_chart","z":"1f9ec913.5f4dd7","name":"Temperature","group":"e6debdc.0ae344","order":7,"width":"6","height":"5","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5e81ac","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":120,"wires":[[]]},{"id":"5b719e8f.66b58","type":"inject","z":"a07b01c6.9ff6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["63091f6f.b06f2","e44bf2c1.aee0c","fe84fe6f.45756"]]},{"id":"63091f6f.b06f2","type":"sensor-ds18b20","z":"a07b01c6.9ff6c","name":"Kettle Temp - 1Wire","topic":"","sensorid":"28-0119123eb501","timer":"2","repeat":false,"x":350,"y":60,"wires":[["bdb40e49.11417"]]},{"id":"2b77a022.495f6","type":"unit-converter","z":"a07b01c6.9ff6c","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"Pt100","x":510,"y":140,"wires":[["4f40b6bf.504628","ff79e952.2cf218"]]},{"id":"4f40b6bf.504628","type":"smooth","z":"a07b01c6.9ff6c","name":"Temperature Smoother","property":"payload","action":"mean","count":"5","round":"2","mult":"single","reduce":false,"x":760,"y":160,"wires":[["be889565.b17c08"]]},{"id":"be889565.b17c08","type":"ui_text","z":"a07b01c6.9ff6c","group":"e6debdc.0ae344","order":2,"width":3,"height":1,"name":"","label":"Kettle","format":"{{msg.payload | number:1}}°F","layout":"col-center","x":950,"y":160,"wires":[]},{"id":"ff79e952.2cf218","type":"link out","z":"a07b01c6.9ff6c","name":"Kettle-Temp","links":["627632.5d8879d","116700c7.4ad66f","b986d224.62918"],"x":675,"y":120,"wires":[]},{"id":"e44bf2c1.aee0c","type":"delay","z":"a07b01c6.9ff6c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":220,"wires":[["213d17f3.003958"]]},{"id":"213d17f3.003958","type":"link out","z":"a07b01c6.9ff6c","name":"PID Trigger","links":["7d4b8656.bb2478"],"x":515,"y":220,"wires":[]},{"id":"10a15449.9dda0c","type":"inject","z":"2015bbf4.93ff34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":140,"y":60,"wires":[["8474d9c0.369928"]]},{"id":"8474d9c0.369928","type":"change","z":"2015bbf4.93ff34","name":"Pump On/Off","rules":[{"t":"set","p":"pump","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":60,"wires":[[]]},{"id":"356161d3.b5984e","type":"link in","z":"2015bbf4.93ff34","name":"Pump Controls","links":["eb1472c9.fe3bc"],"x":95,"y":120,"wires":[["1132b9e9.e28376"]]},{"id":"1132b9e9.e28376","type":"ui_button","z":"2015bbf4.93ff34","name":"","group":"3b6734fa.5e42bc","order":8,"width":4,"height":1,"passthru":false,"label":"Pump","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"true","payloadType":"bool","topic":"","x":210,"y":120,"wires":[["29f7a242.a2764e"]]},{"id":"29f7a242.a2764e","type":"switch","z":"2015bbf4.93ff34","name":"Pump state","property":"pump","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":120,"wires":[["821cdc95.64bd7"],["4112588e.93a4f8"]]},{"id":"821cdc95.64bd7","type":"change","z":"2015bbf4.93ff34","name":"Pump On","rules":[{"t":"set","p":"pump","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":60,"wires":[["e877763e.405608"]]},{"id":"4112588e.93a4f8","type":"switch","z":"2015bbf4.93ff34","name":"Element On?","property":"element_on","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":160,"wires":[["fa8e611d.0947d"],["8d0fe97a.e3c118"]]},{"id":"e877763e.405608","type":"link out","z":"2015bbf4.93ff34","name":"","links":["e950e910.ccdf38","521f9a44.72fa04"],"x":835,"y":80,"wires":[]},{"id":"fa8e611d.0947d","type":"change","z":"2015bbf4.93ff34","name":"Pump Off","rules":[{"t":"set","p":"pump","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":100,"wires":[["e877763e.405608"]]},{"id":"8d0fe97a.e3c118","type":"change","z":"2015bbf4.93ff34","name":"Conflict","rules":[{"t":"set","p":"payload","pt":"msg","to":"Can not turn pump off while element is active.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":200,"wires":[["1888beac.c15ee1"]]},{"id":"1888beac.c15ee1","type":"ui_toast","z":"2015bbf4.93ff34","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":200,"wires":[[]]},{"id":"e950e910.ccdf38","type":"link in","z":"2015bbf4.93ff34","name":"Pump Update","links":["e877763e.405608"],"x":255,"y":280,"wires":[["e4a75d8c.14fa2"]]},{"id":"e4a75d8c.14fa2","type":"delay","z":"2015bbf4.93ff34","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":280,"wires":[["9c6758a3.ad2488"]]},{"id":"9c6758a3.ad2488","type":"switch","z":"2015bbf4.93ff34","name":"Pump state","property":"pump","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":320,"wires":[["c3340b10.5facd8"],["4d99fa19.60c504"]]},{"id":"c3340b10.5facd8","type":"change","z":"2015bbf4.93ff34","name":"Pump On Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#a3b38c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["eb1472c9.fe3bc"]]},{"id":"4d99fa19.60c504","type":"change","z":"2015bbf4.93ff34","name":"Pump Off Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#4c566a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["eb1472c9.fe3bc"]]},{"id":"eb1472c9.fe3bc","type":"link out","z":"2015bbf4.93ff34","name":"Button color","links":["356161d3.b5984e"],"x":715,"y":320,"wires":[]},{"id":"521f9a44.72fa04","type":"link in","z":"2015bbf4.93ff34","name":"Pump Update","links":["e877763e.405608"],"x":255,"y":440,"wires":[["aa99d875.ee93b8"]]},{"id":"aa99d875.ee93b8","type":"change","z":"2015bbf4.93ff34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pump","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":440,"wires":[["cbecc732.2648c8"]]},{"id":"cbecc732.2648c8","type":"rpi-gpio out","z":"2015bbf4.93ff34","name":"Pump GPIO","pin":"11","set":true,"level":"0","freq":"","out":"out","x":590,"y":440,"wires":[]},{"id":"627632.5d8879d","type":"link in","z":"1f9ec913.5f4dd7","name":"Temperature In","links":["ff79e952.2cf218"],"x":575,"y":120,"wires":[["d546ebd3.66a6e8"]]},{"id":"ee3633c2.e74da","type":"change","z":"bd9705c2.b4b038","name":"Set Mash Target for PID","rules":[{"t":"set","p":"mash_target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":240,"wires":[[]]},{"id":"c9be45d2.882768","type":"change","z":"bd9705c2.b4b038","name":"global.mash_lock, element_on, element_limiter = false","rules":[{"t":"set","p":"mash_lock","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"element_on","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"element_limiter","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":580,"wires":[["87822920.4aebd8"]]},{"id":"25a33c46.5639f4","type":"change","z":"bd9705c2.b4b038","name":"Lock message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Can not access element controls while boil is active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":820,"wires":[["d9a2506b.a51da"]]},{"id":"d9a2506b.a51da","type":"ui_toast","z":"bd9705c2.b4b038","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":760,"y":820,"wires":[[]]},{"id":"58202f48.ea5a7","type":"switch","z":"bd9705c2.b4b038","name":"Check boil_lock","property":"boil_lock","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":330,"y":860,"wires":[["25a33c46.5639f4","98a4333f.8dd15"],["5237352c.da6cec"]]},{"id":"5ffba5bd.9338ec","type":"change","z":"bd9705c2.b4b038","name":"element_try = payload","rules":[{"t":"set","p":"element_try","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":800,"wires":[["58202f48.ea5a7"]]},{"id":"860a5904.1d95b8","type":"change","z":"bd9705c2.b4b038","name":"element_on = element_try","rules":[{"t":"set","p":"element_on","pt":"global","to":"element_try","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"element_try","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":900,"wires":[["9b78c885.7738f8"]]},{"id":"9b78c885.7738f8","type":"switch","z":"bd9705c2.b4b038","name":"","property":"element_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":900,"wires":[["4ab608b0.3e7958"],["82293975.8bd068"]]},{"id":"4ab608b0.3e7958","type":"change","z":"bd9705c2.b4b038","name":"mash_lock = true","rules":[{"t":"set","p":"mash_lock","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":860,"wires":[[]]},{"id":"7219d148.3cd96","type":"change","z":"bd9705c2.b4b038","name":"mash_lock = false","rules":[{"t":"set","p":"mash_lock","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":940,"wires":[["de42b3e8.6da3f"]]},{"id":"82293975.8bd068","type":"delay","z":"bd9705c2.b4b038","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":940,"wires":[["7219d148.3cd96"]]},{"id":"8939f0f2.8988","type":"switch","z":"bd9705c2.b4b038","name":"Element_on switch","property":"element_on","propertyType":"global","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":210,"y":100,"wires":[["f11933ef.a0139"]]},{"id":"de42b3e8.6da3f","type":"link out","z":"bd9705c2.b4b038","name":"Bolt update","links":["c8f6ee0f.cd389"],"x":1265,"y":940,"wires":[]},{"id":"1495ecb9.80c153","type":"inject","z":"bd9705c2.b4b038","d":true,"name":"Default Target","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"152","payloadType":"num","x":220,"y":180,"wires":[["f64cb8f4.3bc348","8ef8443d.5052a8"]]},{"id":"f9b8f609.cbdd48","type":"link out","z":"bd9705c2.b4b038","name":"RIMS GPIO","links":["24145682.3f917a","9873df80.46702","d2895cea.9d57"],"x":635,"y":120,"wires":[]},{"id":"72774746.3d0928","type":"change","z":"bd9705c2.b4b038","name":"Element off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":700,"wires":[["c83aba88.2261a8"]]},{"id":"c83aba88.2261a8","type":"link out","z":"bd9705c2.b4b038","name":"RIMS GPIO","links":["79ad6d21.240f2c","24145682.3f917a","9873df80.46702","d2895cea.9d57"],"x":545,"y":700,"wires":[]},{"id":"af080c2a.dc51e","type":"change","z":"bd9705c2.b4b038","name":"Zero everything","rules":[{"t":"set","p":"last_error","pt":"msg","to":"0.0","tot":"num"},{"t":"set","p":"integrator","pt":"msg","to":"0.0","tot":"num"},{"t":"set","p":"derivative","pt":"msg","to":"0.0","tot":"num"},{"t":"set","p":"last_error","pt":"flow","to":"last_error","tot":"msg"},{"t":"set","p":"integrator","pt":"flow","to":"integrator","tot":"msg"},{"t":"set","p":"output","pt":"msg","to":"0.0","tot":"num"},{"t":"set","p":"target","pt":"msg","to":"mash_target","tot":"flow"},{"t":"set","p":"outer_target","pt":"msg","to":"mash_target","tot":"flow"},{"t":"set","p":"mash_add","pt":"global","to":"\"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":660,"wires":[["b03861ae.6591"]]},{"id":"b03861ae.6591","type":"link out","z":"bd9705c2.b4b038","name":"Mash PID display","links":["10ad898f.8c2146","99d75dcc.13ad1"],"x":545,"y":660,"wires":[]},{"id":"2f41ea61.b3ceb6","type":"link out","z":"bd9705c2.b4b038","name":"Mash PID display","links":["10ad898f.8c2146","99d75dcc.13ad1"],"x":635,"y":80,"wires":[]},{"id":"4ddd4ba5.fb4264","type":"link in","z":"bd9705c2.b4b038","name":"Button click","links":["30859d5c.ff36d2","cc2a3bed.936a58"],"x":145,"y":800,"wires":[["5ffba5bd.9338ec"]]},{"id":"40471846.76ca98","type":"link in","z":"bd9705c2.b4b038","name":"Zero All","links":["2f5ebe46.5a7832","30859d5c.ff36d2"],"x":145,"y":660,"wires":[["af080c2a.dc51e"]]},{"id":"2f5ebe46.5a7832","type":"link out","z":"bd9705c2.b4b038","name":"Initializations","links":["7676e5b8.0796cc","4a831de4.c25a14","7e53c423.16577c","40471846.76ca98"],"x":305,"y":500,"wires":[]},{"id":"7e53c423.16577c","type":"link in","z":"bd9705c2.b4b038","name":"Off button","links":["2f5ebe46.5a7832","30859d5c.ff36d2"],"x":145,"y":700,"wires":[["72774746.3d0928"]]},{"id":"c6d6eb2f.f09cb8","type":"inject","z":"bd9705c2.b4b038","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":500,"wires":[["2f5ebe46.5a7832"]]},{"id":"4a831de4.c25a14","type":"link in","z":"bd9705c2.b4b038","name":"Global initializations","links":["2f5ebe46.5a7832"],"x":145,"y":580,"wires":[["c9be45d2.882768"]]},{"id":"f64cb8f4.3bc348","type":"ui_slider","z":"bd9705c2.b4b038","name":"Mash target slider","label":"Target","tooltip":"","group":"3b6734fa.5e42bc","order":10,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":"138","max":"160","step":"1","x":450,"y":240,"wires":[["ee3633c2.e74da","8ef8443d.5052a8","870b8ebc.cd173"]]},{"id":"7676e5b8.0796cc","type":"link in","z":"bd9705c2.b4b038","name":"Element try","links":["13146446.7541cc","2f5ebe46.5a7832","98a4333f.8dd15"],"x":145,"y":620,"wires":[["b945e42.004e118"]]},{"id":"b945e42.004e118","type":"change","z":"bd9705c2.b4b038","name":"flow.element_try = false","rules":[{"t":"set","p":"element_try","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":620,"wires":[[]]},{"id":"5237352c.da6cec","type":"switch","z":"bd9705c2.b4b038","name":"Check pump","property":"pump","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":920,"wires":[["860a5904.1d95b8"],["ae436ee4.574e3","13146446.7541cc"]]},{"id":"ae436ee4.574e3","type":"change","z":"bd9705c2.b4b038","name":"Lock message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Can not access element controls while pump is off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":980,"wires":[["a97464aa.570e78"]]},{"id":"a97464aa.570e78","type":"ui_toast","z":"bd9705c2.b4b038","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":780,"y":980,"wires":[[]]},{"id":"98a4333f.8dd15","type":"link out","z":"bd9705c2.b4b038","name":"RIMS try reset","links":["7676e5b8.0796cc"],"x":505,"y":860,"wires":[]},{"id":"13146446.7541cc","type":"link out","z":"bd9705c2.b4b038","name":"RIMS try reset","links":["7676e5b8.0796cc"],"x":525,"y":940,"wires":[]},{"id":"116700c7.4ad66f","type":"link in","z":"bd9705c2.b4b038","name":"RIMS temp","links":["ff79e952.2cf218"],"x":75,"y":40,"wires":[["1455fbb8.bff714"]]},{"id":"1455fbb8.bff714","type":"change","z":"bd9705c2.b4b038","name":"","rules":[{"t":"set","p":"kettle-temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":40,"wires":[[]]},{"id":"7d4b8656.bb2478","type":"link in","z":"bd9705c2.b4b038","name":"Cascade PID trigger","links":["213d17f3.003958"],"x":75,"y":100,"wires":[["8939f0f2.8988"]]},{"id":"87822920.4aebd8","type":"link out","z":"bd9705c2.b4b038","name":"Cascade PID Integrator update","links":["3bf7f759.c0c958"],"x":685,"y":580,"wires":[]},{"id":"8ef8443d.5052a8","type":"link out","z":"bd9705c2.b4b038","name":"Mash target slider output","links":["7e0497dd.8f2238"],"x":635,"y":180,"wires":[]},{"id":"2506c6b6.3ac53a","type":"change","z":"1f9ec913.5f4dd7","name":"PID Off Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#4C566A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["89c1db61.df3518"]]},{"id":"d3042b17.35fea8","type":"change","z":"1f9ec913.5f4dd7","name":"PID On Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#a3b38c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":320,"wires":[["89c1db61.df3518"]]},{"id":"4186916f.c6896","type":"switch","z":"1f9ec913.5f4dd7","name":"","property":"element_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":340,"wires":[["d3042b17.35fea8"],["2506c6b6.3ac53a"]]},{"id":"78f32dd5.6acac4","type":"delay","z":"1f9ec913.5f4dd7","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":300,"wires":[["4186916f.c6896"]]},{"id":"89c1db61.df3518","type":"link out","z":"1f9ec913.5f4dd7","name":"PID button colour","links":["a1acbeba.65201"],"x":575,"y":340,"wires":[]},{"id":"5637d34e.b482ac","type":"change","z":"1f9ec913.5f4dd7","name":"Off Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#2E3440","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":460,"wires":[["1c0d3c2c.b0d024"]]},{"id":"2f1f4be2.a338f4","type":"change","z":"1f9ec913.5f4dd7","name":"On Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#4C566A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":420,"wires":[["1c0d3c2c.b0d024"]]},{"id":"66ea7040.1ebda","type":"switch","z":"1f9ec913.5f4dd7","name":"","property":"element_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":440,"wires":[["2f1f4be2.a338f4"],["5637d34e.b482ac"]]},{"id":"6f01264e.7971b8","type":"delay","z":"1f9ec913.5f4dd7","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":400,"wires":[["66ea7040.1ebda"]]},{"id":"1c0d3c2c.b0d024","type":"link out","z":"1f9ec913.5f4dd7","name":"Off button colour","links":["1935f939.d4427f","c4a06752.890968"],"x":535,"y":440,"wires":[]},{"id":"4748ea69.424a24","type":"link in","z":"1f9ec913.5f4dd7","name":"Button click","links":["30859d5c.ff36d2","cc2a3bed.936a58","bc6002cb.2e772"],"x":115,"y":400,"wires":[["6f01264e.7971b8"]]},{"id":"94927da0.1a7a5","type":"ui_button","z":"1f9ec913.5f4dd7","name":"","group":"3b6734fa.5e42bc","order":5,"width":4,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"#E5E9F0","bgcolor":"{{color}}","icon":"","payload":"false","payloadType":"bool","topic":"","x":230,"y":160,"wires":[["30859d5c.ff36d2"]]},{"id":"a0071b4.ab1e9e8","type":"ui_button","z":"1f9ec913.5f4dd7","name":"","group":"3b6734fa.5e42bc","order":2,"width":4,"height":1,"passthru":false,"label":"PID","tooltip":"","color":"#E5E9F0","bgcolor":"{{color}}","icon":"","payload":"true","payloadType":"bool","topic":"","x":230,"y":120,"wires":[["cc2a3bed.936a58"]]},{"id":"30859d5c.ff36d2","type":"link out","z":"1f9ec913.5f4dd7","name":"Off button","links":["1da202f2.40314d","40471846.76ca98","4748ea69.424a24","4ddd4ba5.fb4264","7e53c423.16577c","ef56dc4a.c8271"],"x":355,"y":160,"wires":[]},{"id":"cc2a3bed.936a58","type":"link out","z":"1f9ec913.5f4dd7","name":"PID button","links":["54c27116.f0fbb8","65b11f55.0036b","966c3ae9.d0b678","6fd789be.f20e6","67fe4219.31feac","4748ea69.424a24","ac9b0385.1a096","1163aa6f.a466a6","ac5a3184.ad004","c443490d.703ff","4aeae28e.9f0d7c","1da202f2.40314d","b64090c1.73319","ef56dc4a.c8271","4ddd4ba5.fb4264"],"x":355,"y":120,"wires":[]},{"id":"a1acbeba.65201","type":"link in","z":"1f9ec913.5f4dd7","name":"PID Button Color","links":["89c1db61.df3518"],"x":115,"y":120,"wires":[["a0071b4.ab1e9e8"]]},{"id":"c4a06752.890968","type":"link in","z":"1f9ec913.5f4dd7","name":"Off Button Color","links":["1c0d3c2c.b0d024"],"x":115,"y":160,"wires":[["94927da0.1a7a5"]]},{"id":"1da202f2.40314d","type":"link in","z":"1f9ec913.5f4dd7","name":"Button click","links":["30859d5c.ff36d2","cc2a3bed.936a58","bc6002cb.2e772"],"x":115,"y":300,"wires":[["78f32dd5.6acac4"]]},{"id":"6b127d64.b5d604","type":"link in","z":"1f9ec913.5f4dd7","name":"Button initialization","links":["c2e5f429.3524d8","e63a332.88bf8d","f51c265.a6e8358"],"x":115,"y":440,"wires":[["66ea7040.1ebda"]]},{"id":"cfcda373.2c01a","type":"link in","z":"1f9ec913.5f4dd7","name":"Button initialization","links":["dad1a3f8.75b93","e63a332.88bf8d","c2e5f429.3524d8"],"x":115,"y":340,"wires":[["4186916f.c6896"]]},{"id":"1954397b.fe1627","type":"ui_ui_control","z":"1f9ec913.5f4dd7","name":"Dashboard connection","x":200,"y":220,"wires":[["c2e5f429.3524d8"]]},{"id":"c2e5f429.3524d8","type":"link out","z":"1f9ec913.5f4dd7","name":"Button initialization on connection","links":["cfcda373.2c01a","6b127d64.b5d604","3643d998.99adb6"],"x":355,"y":220,"wires":[]},{"id":"fcad7f5c.75ddf","type":"ui_ui_control","z":"2015bbf4.93ff34","name":"Dashboard connection","x":180,"y":320,"wires":[["9c6758a3.ad2488"]]},{"id":"de2b71bc.75f47","type":"ui_button","z":"f7281d18.94091","name":"","group":"4058c32e.b8000c","order":2,"width":4,"height":1,"passthru":false,"label":"Boil On","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"false","payloadType":"bool","topic":"","x":960,"y":160,"wires":[["e6d5de4b.d57ae"]]},{"id":"e6d5de4b.d57ae","type":"link out","z":"f7281d18.94091","name":"Off button","links":["b01b9816.576088","6754fd37.5eeed4","638024b5.dd5d2c"],"x":1075,"y":160,"wires":[]},{"id":"ec8743a9.0758f","type":"link in","z":"f7281d18.94091","name":"Off Button Color","links":["e19145ae.eb1c48"],"x":835,"y":160,"wires":[["de2b71bc.75f47"]]},{"id":"50ea94b6.1f2dec","type":"change","z":"f7281d18.94091","name":"Off Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#4c566a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":300,"wires":[["e19145ae.eb1c48"]]},{"id":"a9eea82b.5c5378","type":"change","z":"f7281d18.94091","name":"On Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#a3b38c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":260,"wires":[["e19145ae.eb1c48"]]},{"id":"d0b75e9.11603a","type":"switch","z":"f7281d18.94091","name":"","property":"boil_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":280,"wires":[["a9eea82b.5c5378"],["50ea94b6.1f2dec"]]},{"id":"15ab5963.880247","type":"delay","z":"f7281d18.94091","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":240,"wires":[["d0b75e9.11603a"]]},{"id":"e19145ae.eb1c48","type":"link out","z":"f7281d18.94091","name":"Off button colour","links":["1935f939.d4427f","ec8743a9.0758f"],"x":1255,"y":280,"wires":[]},{"id":"b01b9816.576088","type":"link in","z":"f7281d18.94091","name":"Button click","links":["e6d5de4b.d57ae","e98364d8.9f4918"],"x":835,"y":240,"wires":[["15ab5963.880247"]]},{"id":"22fd3ae7.cca226","type":"link in","z":"f7281d18.94091","name":"Button initialization","links":["e63a332.88bf8d","f51c265.a6e8358","d27e457b.5c3138"],"x":835,"y":280,"wires":[["d0b75e9.11603a"]]},{"id":"4d141fc0.98d44","type":"ui_ui_control","z":"f7281d18.94091","name":"Dashboard connection","x":920,"y":100,"wires":[["d27e457b.5c3138"]]},{"id":"d27e457b.5c3138","type":"link out","z":"f7281d18.94091","name":"Button initialization on connection","links":["22fd3ae7.cca226","6fe1537b.be554c"],"x":1075,"y":100,"wires":[]},{"id":"6ddb377d.c2b6f8","type":"inject","z":"f7281d18.94091","name":"Default Element power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":160,"y":80,"wires":[["bf9e6b43.f12688"]]},{"id":"bf9e6b43.f12688","type":"ui_slider","z":"f7281d18.94091","name":"Manual boil control","label":"Element Power","tooltip":"","group":"4058c32e.b8000c","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"25","max":"100","step":"0.5","x":370,"y":100,"wires":[["3157dfc6.f47e","82f545e6.12b8e8"]]},{"id":"3157dfc6.f47e","type":"ui_text","z":"f7281d18.94091","group":"e6debdc.0ae344","order":3,"width":3,"height":1,"name":"","label":"Element Power","format":"{{payload | number:1}}%","layout":"col-center","x":580,"y":60,"wires":[]},{"id":"1b98380e.3b9db8","type":"change","z":"f7281d18.94091","name":"boil_lock=true","rules":[{"t":"set","p":"boil_lock","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":700,"wires":[[]]},{"id":"3b0fdc9a.c10df4","type":"change","z":"f7281d18.94091","name":"boil_on = boil_try","rules":[{"t":"set","p":"boil_on","pt":"global","to":"boil_try","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"boil_try","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":740,"wires":[["b9082f33.86af9"]]},{"id":"b9082f33.86af9","type":"switch","z":"f7281d18.94091","name":"boil_on","property":"boil_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":720,"wires":[["1b98380e.3b9db8"],["5a75b34d.cfe50c"]]},{"id":"5cd403be.4a8e6c","type":"switch","z":"f7281d18.94091","name":"Check mash_lock","property":"mash_lock","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":680,"wires":[["85530940.e48fc8"],["3af8ff2.8e239"]]},{"id":"79b3e939.65baa8","type":"ui_toast","z":"f7281d18.94091","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":670,"y":640,"wires":[[]]},{"id":"85530940.e48fc8","type":"change","z":"f7281d18.94091","name":"Element lock message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Can not access element controls while Mash is active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":660,"wires":[["79b3e939.65baa8"]]},{"id":"5a75b34d.cfe50c","type":"delay","z":"f7281d18.94091","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":740,"wires":[["3f2f5dc0.d3e132"]]},{"id":"3f2f5dc0.d3e132","type":"change","z":"f7281d18.94091","name":"boil_lock = false","rules":[{"t":"set","p":"boil_lock","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":740,"wires":[[]]},{"id":"5f52f0ae.e17be","type":"change","z":"f7281d18.94091","name":"boil_try = true","rules":[{"t":"set","p":"boil_try","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["2ce6f07d.50bd8"]]},{"id":"4d8adb94.b0f244","type":"change","z":"f7281d18.94091","name":"boil_try = false","rules":[{"t":"set","p":"boil_try","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":380,"wires":[["67851be2.7bf5a4"]]},{"id":"2ce6f07d.50bd8","type":"link out","z":"f7281d18.94091","name":"Boil Try Output","links":["cd7bfd58.62501"],"x":555,"y":460,"wires":[]},{"id":"cd7bfd58.62501","type":"link in","z":"f7281d18.94091","name":"Boil Try Input","links":["2ce6f07d.50bd8","5ea54d77.7148c4","67851be2.7bf5a4"],"x":75,"y":680,"wires":[["5cd403be.4a8e6c"]]},{"id":"f49d802a.0d5e6","type":"change","z":"f7281d18.94091","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"boil_add","pt":"global","to":"\"\"","tot":"str"},{"t":"set","p":"beer_name","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":520,"wires":[["9efe654e.910b78"]]},{"id":"9efe654e.910b78","type":"link out","z":"f7281d18.94091","name":"Off Duty","links":["54b535fc.c2667c","74f680c3.2d76c","d2895cea.9d57","f5898e1d.040a2"],"x":555,"y":520,"wires":[]},{"id":"67851be2.7bf5a4","type":"link out","z":"f7281d18.94091","name":"Boil Try Output","links":["cd7bfd58.62501"],"x":555,"y":380,"wires":[]},{"id":"638024b5.dd5d2c","type":"link in","z":"f7281d18.94091","name":"Manual button","links":["ed41478a.5a2028","1777733d.a2553d","e6d5de4b.d57ae"],"x":175,"y":460,"wires":[["5f52f0ae.e17be"]]},{"id":"54d0368.0fbd3c8","type":"link in","z":"f7281d18.94091","name":"Off button","links":["308e6b59.254394","11c18a22.2ff07e","fd8c477a.99a1a","e98364d8.9f4918"],"x":175,"y":380,"wires":[["4d8adb94.b0f244"]]},{"id":"52e7c306.87bbbc","type":"link in","z":"f7281d18.94091","name":"Off button","links":["709db87a.4f25b8","e98364d8.9f4918"],"x":175,"y":520,"wires":[["f49d802a.0d5e6"]]},{"id":"a70eefe1.a0f99","type":"inject","z":"f7281d18.94091","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":130,"y":260,"wires":[["709db87a.4f25b8"]]},{"id":"709db87a.4f25b8","type":"link out","z":"f7281d18.94091","name":"Off button - initialization","links":["52e7c306.87bbbc","153c591e.c53cf7","eb4c903d.603f7"],"x":295,"y":260,"wires":[]},{"id":"153c591e.c53cf7","type":"link in","z":"f7281d18.94091","name":"Off button - initialization","links":["709db87a.4f25b8"],"x":175,"y":340,"wires":[["9d0f69f1.c06518"]]},{"id":"9d0f69f1.c06518","type":"change","z":"f7281d18.94091","name":"boil_lock, boil_on, boil_try = false","rules":[{"t":"set","p":"boil_lock","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"boil_on","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"boil_try","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[[]]},{"id":"74ae4257.d2f15c","type":"ui_button","z":"f7281d18.94091","name":"","group":"4058c32e.b8000c","order":5,"width":4,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"false","payloadType":"bool","topic":"","x":950,"y":200,"wires":[["e98364d8.9f4918"]]},{"id":"e98364d8.9f4918","type":"link out","z":"f7281d18.94091","name":"Off button","links":["b01b9816.576088","6754fd37.5eeed4","52e7c306.87bbbc","54d0368.0fbd3c8"],"x":1075,"y":200,"wires":[]},{"id":"68cca5ec.5aceec","type":"link in","z":"f7281d18.94091","name":"Off Button Color","links":["b522dc3e.f5bc9"],"x":835,"y":200,"wires":[["74ae4257.d2f15c"]]},{"id":"1da861e1.3fc66e","type":"change","z":"f7281d18.94091","name":"Off Off Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#2E3440","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":400,"wires":[["b522dc3e.f5bc9"]]},{"id":"c237d5d0.0dbca8","type":"change","z":"f7281d18.94091","name":"Off On Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#4C566A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":360,"wires":[["b522dc3e.f5bc9"]]},{"id":"e362987a.1724b8","type":"switch","z":"f7281d18.94091","name":"","property":"boil_on","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":380,"wires":[["c237d5d0.0dbca8"],["1da861e1.3fc66e"]]},{"id":"49157ed1.37326","type":"delay","z":"f7281d18.94091","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":340,"wires":[["e362987a.1724b8"]]},{"id":"b522dc3e.f5bc9","type":"link out","z":"f7281d18.94091","name":"Off button colour","links":["68cca5ec.5aceec"],"x":1275,"y":380,"wires":[]},{"id":"6754fd37.5eeed4","type":"link in","z":"f7281d18.94091","name":"Button click","links":["e6d5de4b.d57ae","e98364d8.9f4918"],"x":835,"y":340,"wires":[["49157ed1.37326"]]},{"id":"6fe1537b.be554c","type":"link in","z":"f7281d18.94091","name":"Button initialization","links":["d27e457b.5c3138"],"x":835,"y":380,"wires":[["e362987a.1724b8"]]},{"id":"d2895cea.9d57","type":"link in","z":"b092337.00d0bd","name":"Element Control","links":["66defbd0.c73174","9efe654e.910b78","c83aba88.2261a8","f9b8f609.cbdd48","f35f5137.3857f","3bb5d8ff.dc0bc8"],"x":135,"y":180,"wires":[["1eba2099.42f05f","922a48b0.a41508","dab63a76.6991b8"]]},{"id":"1eba2099.42f05f","type":"rpi-gpio out","z":"b092337.00d0bd","name":"Element GPIO","pin":"40","set":"","level":"0","freq":"1","out":"pwm","x":280,"y":180,"wires":[]},{"id":"922a48b0.a41508","type":"range","z":"b092337.00d0bd","minin":"0","maxin":"100","minout":"0","maxout":"5.5","action":"scale","round":false,"property":"payload","name":"Duty to Watts","x":280,"y":240,"wires":[["d77786df.4fa5a8"]]},{"id":"d77786df.4fa5a8","type":"ui_text","z":"b092337.00d0bd","group":"e6debdc.0ae344","order":5,"width":3,"height":1,"name":"Element Output","label":"","format":"{{payload | number:2}} kw","layout":"col-center","x":480,"y":240,"wires":[]},{"id":"82f545e6.12b8e8","type":"change","z":"f7281d18.94091","name":"Boil Duty","rules":[{"t":"set","p":"boil_duty","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":20,"wires":[["8cc23f63.29d7"]]},{"id":"8cc23f63.29d7","type":"switch","z":"f7281d18.94091","name":"Boil_on","property":"boil_on","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":20,"wires":[["974b89a6.44ca98"]]},{"id":"974b89a6.44ca98","type":"change","z":"f7281d18.94091","name":"payload = boil_duty","rules":[{"t":"set","p":"payload","pt":"msg","to":"boil_duty","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":20,"wires":[["3bb5d8ff.dc0bc8"]]},{"id":"3bb5d8ff.dc0bc8","type":"link out","z":"f7281d18.94091","name":"Element Control","links":["d2895cea.9d57"],"x":1055,"y":20,"wires":[]},{"id":"bb105d55.c094","type":"function","z":"82c8b786.2413b8","name":"Time Conversion","func":"function str_pad_left(string,pad,length) {\n    return (new Array(length+1).join(pad)+string).slice(-length);\n}\n\n// Make pretty format of the countdown\nvar minutes = Math.floor(msg.payload / 60);\nvar seconds = msg.payload - minutes * 60;\nvar finalTime = str_pad_left(minutes,'0',2)+':'+str_pad_left(seconds,'0',2);\n\nmsg.payload = finalTime;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":120,"wires":[["59f7a101.dc5e2"]]},{"id":"4d294f51.c7ae","type":"function","z":"82c8b786.2413b8","name":"Seconds to minutes","func":"if (msg.mash_label == 'Stop Mash Timer'){\n    var seconds = global.get('mash_length') * 60;\n}\nelse {\n    var seconds = global.get('boil_length') * 60;\n}\n\nvar timer_status = msg.timer;\n\nmsg.payload = \"{\\\"payload\\\": \" + timer_status + \", \\\"timeout\\\":\" + seconds + \", \\\"warning\\\": 30}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":80,"wires":[["9ba1aa17.4b2d98"]]},{"id":"9ba1aa17.4b2d98","type":"mytimeout","z":"82c8b786.2413b8","name":"Timer","outtopic":"","outsafe":"","outwarning":"30 seconds left","outunsafe":"Timer has stopped","warning":"","timer":"","debug":false,"ndebug":true,"ignoreCase":false,"repeat":false,"again":false,"x":850,"y":80,"wires":[["128114d.90939eb"],["bb105d55.c094"]]},{"id":"128114d.90939eb","type":"play audio","z":"82c8b786.2413b8","name":"","voice":"1","x":1010,"y":40,"wires":[]},{"id":"59f7a101.dc5e2","type":"ui_text","z":"82c8b786.2413b8","group":"e8db3ce4.e1ff4","order":8,"width":6,"height":1,"name":"Timer Countdown","label":"","format":"{{msg.payload}}","layout":"col-center","x":1250,"y":120,"wires":[]},{"id":"697e60e0.9bee7","type":"link in","z":"82c8b786.2413b8","name":"Time In","links":["d739dece.77709","a4ddcfcc.de818"],"x":515,"y":80,"wires":[["4d294f51.c7ae"]]},{"id":"d7dab594.19d908","type":"inject","z":"82c8b786.2413b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":200,"wires":[["a09a184b.0eac88"]]},{"id":"a09a184b.0eac88","type":"change","z":"82c8b786.2413b8","name":"Mash Timer On/Off","rules":[{"t":"set","p":"mash_time","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"mash_label","pt":"msg","to":"Start Mash Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["1039b4c7.a43f0b"]]},{"id":"a5e57ba5.a5f668","type":"link in","z":"82c8b786.2413b8","name":"Mash Timer In","links":["1039b4c7.a43f0b","80eed49c.d00e48","dcea3921.b99618","ec462e8f.f5e22","eef31b99.996dd8"],"x":95,"y":260,"wires":[["764d1ee6.eeb21"]]},{"id":"764d1ee6.eeb21","type":"ui_button","z":"82c8b786.2413b8","name":"Mash Timer","group":"e8db3ce4.e1ff4","order":2,"width":"4","height":"1","passthru":false,"label":"{{mash_label}}","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"true","payloadType":"bool","topic":"","x":210,"y":260,"wires":[["1a4f1f94.b3d71"]]},{"id":"1a4f1f94.b3d71","type":"switch","z":"82c8b786.2413b8","name":"Mash Timer state","property":"mash_time","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":260,"wires":[["2b65a48f.a3c24c"],["7e1a8418.a538dc"]]},{"id":"2b65a48f.a3c24c","type":"change","z":"82c8b786.2413b8","name":"Mash Timer On","rules":[{"t":"set","p":"mash_time","pt":"global","to":"1","tot":"num"},{"t":"set","p":"timer","pt":"msg","to":"\"on\"","tot":"str"},{"t":"set","p":"mash_label","pt":"msg","to":"Stop Mash Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":240,"wires":[["d739dece.77709"]]},{"id":"d739dece.77709","type":"link out","z":"82c8b786.2413b8","name":"Mash Timer State","links":["98701cdf.66ea","697e60e0.9bee7","8780b6e7.6fbbe8"],"x":755,"y":260,"wires":[]},{"id":"98701cdf.66ea","type":"link in","z":"82c8b786.2413b8","name":"Mash Timer Update","links":["d739dece.77709"],"x":235,"y":340,"wires":[["e5f92523.916c28"]]},{"id":"e5f92523.916c28","type":"delay","z":"82c8b786.2413b8","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":340,"wires":[["7f8f3c04.8ce6c4"]]},{"id":"7f8f3c04.8ce6c4","type":"switch","z":"82c8b786.2413b8","name":"Mash Timer state","property":"mash_time","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":380,"wires":[["fb237ac2.af3a08"],["509415a9.1f8dec"]]},{"id":"fb237ac2.af3a08","type":"change","z":"82c8b786.2413b8","name":"Mash timer On Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#a3b38c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["ec462e8f.f5e22"]]},{"id":"509415a9.1f8dec","type":"change","z":"82c8b786.2413b8","name":"Mash timer Off Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#4c566a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":420,"wires":[["ec462e8f.f5e22"]]},{"id":"ec462e8f.f5e22","type":"link out","z":"82c8b786.2413b8","name":"Button color","links":["a5e57ba5.a5f668"],"x":765,"y":380,"wires":[]},{"id":"ce9df8e4.d09d28","type":"ui_ui_control","z":"82c8b786.2413b8","name":"Dashboard connection","x":160,"y":380,"wires":[["7f8f3c04.8ce6c4"]]},{"id":"7e1a8418.a538dc","type":"change","z":"82c8b786.2413b8","name":"Mash Timer Off","rules":[{"t":"set","p":"mash_time","pt":"global","to":"0","tot":"num"},{"t":"set","p":"mash_length","pt":"global","to":"1","tot":"num"},{"t":"set","p":"timer","pt":"msg","to":"\"off\"","tot":"str"},{"t":"set","p":"mash_label","pt":"msg","to":"Start Mash Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[["d739dece.77709"]]},{"id":"1039b4c7.a43f0b","type":"link out","z":"82c8b786.2413b8","name":"Mash Timer Out","links":["a5e57ba5.a5f668"],"x":485,"y":200,"wires":[]},{"id":"3af8ff2.8e239","type":"switch","z":"f7281d18.94091","name":"Check pump","property":"pump","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":700,"wires":[["a46f5872.2854d8"],["3b0fdc9a.c10df4"]]},{"id":"a46f5872.2854d8","type":"change","z":"f7281d18.94091","name":"Lock message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Can not access element controls while pump is on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":700,"wires":[["63fb77c1.b7cd18"]]},{"id":"63fb77c1.b7cd18","type":"ui_toast","z":"f7281d18.94091","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":810,"y":680,"wires":[[]]},{"id":"dc7a3e66.6b309","type":"inject","z":"f9361016.64d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":170,"y":200,"wires":[["4855c99f.d1acf8"]]},{"id":"4855c99f.d1acf8","type":"change","z":"f9361016.64d3a","name":"Boil Timer On/Off","rules":[{"t":"set","p":"boil_time","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"boil_label","pt":"msg","to":"Start Boil Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["9e5ee57.b1d4318"]]},{"id":"672c6fe6.a077c","type":"link in","z":"f9361016.64d3a","name":"Boil Timer","links":["6d0b4d8a.2037d4","9e5ee57.b1d4318"],"x":115,"y":260,"wires":[["285985c.f5cd67a"]]},{"id":"285985c.f5cd67a","type":"ui_button","z":"f9361016.64d3a","name":"Boil Timer","group":"e8db3ce4.e1ff4","order":5,"width":"4","height":"1","passthru":false,"label":"{{boil_label}}","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"true","payloadType":"bool","topic":"","x":220,"y":260,"wires":[["adff1790.ffa6d8"]]},{"id":"adff1790.ffa6d8","type":"switch","z":"f9361016.64d3a","name":"Boil Timer state","property":"boil_time","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":260,"wires":[["ef635680.43ba58"],["aaf1969f.bb48d8"]]},{"id":"ef635680.43ba58","type":"change","z":"f9361016.64d3a","name":"Boil Timer On","rules":[{"t":"set","p":"boil_time","pt":"global","to":"1","tot":"num"},{"t":"set","p":"timer","pt":"msg","to":"\"on\"","tot":"str"},{"t":"set","p":"boil_label","pt":"msg","to":"Stop Boil Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":240,"wires":[["a4ddcfcc.de818"]]},{"id":"a4ddcfcc.de818","type":"link out","z":"f9361016.64d3a","name":"Boil Timer State","links":["697e60e0.9bee7","b778a82.86f4e58","54b535fc.c2667c","f5898e1d.040a2"],"x":795,"y":260,"wires":[]},{"id":"b778a82.86f4e58","type":"link in","z":"f9361016.64d3a","name":"Boil Timer Update","links":["a4ddcfcc.de818"],"x":275,"y":340,"wires":[["db3d5ce9.535f8"]]},{"id":"db3d5ce9.535f8","type":"delay","z":"f9361016.64d3a","name":"delay","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":340,"wires":[["628d7366.2d0cbc"]]},{"id":"628d7366.2d0cbc","type":"switch","z":"f9361016.64d3a","name":"Boil Timer state","property":"boil_time","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":380,"wires":[["182ecd44.254d43"],["b1e37596.d00a48"]]},{"id":"182ecd44.254d43","type":"change","z":"f9361016.64d3a","name":"Boil timer On Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#a3b38c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["6d0b4d8a.2037d4"]]},{"id":"b1e37596.d00a48","type":"change","z":"f9361016.64d3a","name":"Boil timer Off Color","rules":[{"t":"set","p":"color","pt":"msg","to":"#4c566a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":420,"wires":[["6d0b4d8a.2037d4"]]},{"id":"6d0b4d8a.2037d4","type":"link out","z":"f9361016.64d3a","name":"Button color","links":["672c6fe6.a077c"],"x":785,"y":380,"wires":[]},{"id":"8849b4a9.bb7bf8","type":"ui_ui_control","z":"f9361016.64d3a","name":"Dashboard connection","x":200,"y":380,"wires":[["628d7366.2d0cbc"]]},{"id":"aaf1969f.bb48d8","type":"change","z":"f9361016.64d3a","name":"Boil Timer Off","rules":[{"t":"set","p":"boil_time","pt":"global","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"timer","pt":"msg","to":"\"off\"","tot":"str"},{"t":"set","p":"boil_label","pt":"msg","to":"Start Boil Timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["a4ddcfcc.de818"]]},{"id":"9e5ee57.b1d4318","type":"link out","z":"f9361016.64d3a","name":"Mash Timer Out","links":["672c6fe6.a077c"],"x":505,"y":200,"wires":[]},{"id":"ba19637b.032e4","type":"ui_upload","z":"690103f.e8873fc","group":"7d100815.d0f7a8","title":"","name":"BeerXML Upload","order":1,"width":0,"height":5,"chunk":256,"transfer":"text","x":130,"y":60,"wires":[["6fb9bba9.7ef294"]]},{"id":"6fb9bba9.7ef294","type":"xml","z":"690103f.e8873fc","name":"","property":"payload","attr":"","chr":"","x":310,"y":60,"wires":[["10002580.aa4dbb","b789cc0.b1c0838"]]},{"id":"80eed49c.d00e48","type":"link out","z":"690103f.e8873fc","name":"BeerXML Data","links":["98ec6f24.6f8bd","c6d09549.e43d08","38c1c7b9.1ab8a8","a5e57ba5.a5f668","54b535fc.c2667c","8c0eea9d.818648","f5898e1d.040a2","74f680c3.2d76c"],"x":655,"y":60,"wires":[]},{"id":"9e375cae.47038","type":"ui_table","z":"f9361016.64d3a","group":"4058c32e.b8000c","name":"Boil Schedule","order":10,"width":"6","height":"5","columns":[{"field":"NAME","title":"Addition","width":"50%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"DISPLAY_AMOUNT","title":"Amt.","width":"25%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"TIME","title":"Time","width":"25%","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":980,"y":100,"wires":[]},{"id":"7621ace2.7f1694","type":"change","z":"f9361016.64d3a","name":"Boil Additions","rules":[{"t":"set","p":"payload","pt":"msg","to":"boil_add","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":100,"wires":[["9e375cae.47038"]]},{"id":"10002580.aa4dbb","type":"function","z":"690103f.e8873fc","name":"XML Data conversion","func":"var beer_name = msg.payload.RECIPES.RECIPE[0].NAME[0];\nvar hops = msg.payload.RECIPES.RECIPE[0].HOPS[0].HOP;\nvar water = parseFloat(msg.payload.RECIPES.RECIPE[0].WATERS[0].WATER[0].AMOUNT[0]);\nvar mash_length = parseFloat(msg.payload.RECIPES.RECIPE[0].MASH[0].MASH_STEPS[0].MASH_STEP[0].STEP_TIME[0]);\nvar boil_length = parseFloat(msg.payload.RECIPES.RECIPE[0].BOIL_TIME[0]);\nvar mash_temp = parseFloat(msg.payload.RECIPES.RECIPE[0].MASH[0].MASH_STEPS[0].MASH_STEP[0].DISPLAY_STEP_TEMP[0]);\nvar misc_add = msg.payload.RECIPES.RECIPE[0].MISCS[0].MISC;\n\nlet mash_add = [];\nlet boil_add = [];\n\nmisc_add.forEach(function(item, index, array) {\n    if (item.USE[0] == 'Mash'){\n        mash_add.push(item);\n    }\n    else {\n        item.TIME[0] = Math.trunc(item.TIME[0]);\n        boil_add.push(item);\n    }\n});\n\nhops.forEach(function(item, index, array) {\n    if (item.USE[0] == 'Mash'){\n        mash_add.push(item);\n    }\n    else {\n        item.TIME[0] = Math.trunc(item.TIME[0]);\n        boil_add.push(item);\n    }\n});\n\nboil_add.sort(function(a, b){return b.TIME - a.TIME});\n\nglobal.set('beer_name', beer_name);\nglobal.set('boil_add', boil_add);\nglobal.set('water', water);\nglobal.set('mash_length', mash_length);\nglobal.set('boil_length', boil_length);\nglobal.set('mash_temp', mash_temp);\nglobal.set('mash_add', mash_add);\n//msg.ui_control.options.title.text = 'Redtide Home Brewery - ' + name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":60,"wires":[["80eed49c.d00e48"]]},{"id":"b789cc0.b1c0838","type":"debug","z":"690103f.e8873fc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":140,"wires":[]},{"id":"54b535fc.c2667c","type":"link in","z":"f9361016.64d3a","name":"Hops In","links":["80eed49c.d00e48","a4ddcfcc.de818","9efe654e.910b78"],"x":635,"y":100,"wires":[["7621ace2.7f1694"]]},{"id":"a3a3275.1a869d8","type":"ui_template","z":"1f9ec913.5f4dd7","group":"e6debdc.0ae344","name":"Theme","order":8,"width":0,"height":0,"format":"<style>\n:root {\n  --color-base: #2E3440;\n  --color-text-primary: #E5E9F0;\n  --color-widget-border: #434C5E;\n  --color-background: #3B4252;\n  --color-widget-background: #4C566A;\n  --color-track-fill: #5E81AC;\n  --color-active-tab: #81A1C1;\n}\n\nbody.nr-dashboard-theme, body.nr-dashboard-theme md-sidenav {\n    background-color: var(--color-base);\n    color: var(--color-text-primary);\n}\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: var(--color-background);\n    color: var(--color-text-primary);\n    border: 1px solid var(--color-widget-border);\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    text-align: center;\n    color: var(--color-text-primary);\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    background-color: var(--color-background);\n    color: var(--color-text-primary);\n}\n\nbody.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n    color: var(--color-text-primary);\n}\n\n.nr-menu-item-active div button {\n    border-right: 4px solid var(--color-active-tab);\n}\n\n.ui_upload p.title, p.result {\n    color: var(--color-text-primary) !important;\n    background-color: var(--color-background) !important;\n}\n\n/* Track fill color */\n.nr-dashboard-theme .nr-dashboard-slider .md-track-fill {\n    background-color: var(--color-track-fill) !important;\n}\n.nr-dashboard-theme .nr-dashboard-slider .md-focus-ring {\n    background-color: var(--color-track-fill) !important;\n}\n\n/* Sets the size of the timer font */\n#Brewery_Controls_Timer_cards {\n    font-size: 65px !important;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":100,"y":40,"wires":[[]]},{"id":"4b4b72fa.06bebc","type":"change","z":"bd9705c2.b4b038","name":"XML Mash Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"mash_temp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":240,"wires":[["f64cb8f4.3bc348","8ef8443d.5052a8"]]},{"id":"dbe61809.2d8958","type":"link in","z":"bd9705c2.b4b038","name":"","links":[],"x":-35,"y":400,"wires":[[]]},{"id":"8c0eea9d.818648","type":"link in","z":"bd9705c2.b4b038","name":"XML Mash Temp In","links":["80eed49c.d00e48"],"x":75,"y":240,"wires":[["4b4b72fa.06bebc"]]},{"id":"870b8ebc.cd173","type":"ui_text","z":"bd9705c2.b4b038","group":"e6debdc.0ae344","order":4,"width":"3","height":"1","name":"","label":"Mash Target","format":"{{msg.payload | number:1}}°F","layout":"col-center","x":700,"y":280,"wires":[]},{"id":"53b0ff6a.fb6b3","type":"ui_table","z":"f9361016.64d3a","group":"3b6734fa.5e42bc","name":"Mash Addition","order":11,"width":"6","height":"4","columns":[{"field":"NAME","title":"Addition","width":"75%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"DISPLAY_AMOUNT","title":"Amt.","width":"25%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":980,"y":140,"wires":[]},{"id":"a845c57f.d4d648","type":"change","z":"f9361016.64d3a","name":"Mash Additions","rules":[{"t":"set","p":"payload","pt":"msg","to":"mash_add","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":140,"wires":[["53b0ff6a.fb6b3"]]},{"id":"f5898e1d.040a2","type":"link in","z":"f9361016.64d3a","name":"Hops In","links":["80eed49c.d00e48","a4ddcfcc.de818","9efe654e.910b78"],"x":635,"y":140,"wires":[["a845c57f.d4d648"]]},{"id":"74f680c3.2d76c","type":"link in","z":"f9361016.64d3a","name":"Beer Name","links":["80eed49c.d00e48","9efe654e.910b78"],"x":635,"y":60,"wires":[["8fc4fce6.38bbf"]]},{"id":"8fc4fce6.38bbf","type":"change","z":"f9361016.64d3a","name":"Beer Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"beer_name","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":60,"wires":[["e574cd56.4c773"]]},{"id":"e574cd56.4c773","type":"ui_text","z":"f9361016.64d3a","group":"e6debdc.0ae344","order":1,"width":"0","height":"0","name":"Beer Name","label":"","format":"<center><font size = 5>{{msg.payload}}</font></center>","layout":"row-center","x":970,"y":60,"wires":[]},{"id":"fe84fe6f.45756","type":"pythonshell in","z":"a07b01c6.9ff6c","name":"Kettle Temp","pyfile":"/home/pi/temp_probe.py","virtualenv":"/home/pi/temp_sense","continuous":true,"stdInData":true,"x":350,"y":140,"wires":[["2b77a022.495f6"]]},{"id":"d546ebd3.66a6e8","type":"smooth","z":"1f9ec913.5f4dd7","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","reduce":false,"x":700,"y":120,"wires":[["97bf06ee.89c1e8"]]},{"id":"87a8b0a1.ace23","type":"debug","z":"a07b01c6.9ff6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"bdb40e49.11417","type":"unit-converter","z":"a07b01c6.9ff6c","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":560,"y":60,"wires":[["74d1c193.56993"]]},{"id":"74d1c193.56993","type":"link out","z":"a07b01c6.9ff6c","name":"Temp-1-Wire","links":["bc9c7bc3.1d43a8"],"x":695,"y":60,"wires":[]},{"id":"bc9c7bc3.1d43a8","type":"link in","z":"1f9ec913.5f4dd7","name":"1-Wire In","links":["74d1c193.56993"],"x":575,"y":160,"wires":[["1395227.09b37de"]]},{"id":"1395227.09b37de","type":"smooth","z":"1f9ec913.5f4dd7","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":700,"y":160,"wires":[["97bf06ee.89c1e8"]]},{"id":"f11933ef.a0139","type":"function","z":"bd9705c2.b4b038","name":"Cascade PID Single Vessel","func":"// Assumes 1 second of iteration time\n// Based on Justin Angevaare's PID\n// November 2020\n\n// Manually specify update interval\nmsg.interval = 2000;\n\n// Set output max\nmsg.max_output = 100\n\n// Get Temperature and calculate error\nmsg.mash_target = flow.get('mash_target')\nmsg.error = msg.mash_target - global.get('kettle-temp');\n\n// Update outer integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.integrator = flow.get('integrator');\nmsg.integrator += (msg.interval / 1000) * Math.max(Math.min(msg.error, 1), -1);\n\n// Calculate integrator max\nmsg.integrator_max = msg.max_output / flow.get('i');\n\n// Bound total outer integrator by absolute maximum\nmsg.integrator = Math.max(Math.min(msg.integrator, msg.integrator_max), -msg.integrator_max);\n\n// Output updated integrator to flow context\nflow.set('integrator', msg.integrator);\n\n// Calculate proportional action\nmsg.output = msg.error * flow.get('p');\n\n// Calculate integral action\nmsg.output += msg.integrator * flow.get('i');\n\n// Calculate derivative action\nmsg.derivative = (msg.error - flow.get('last_error')) / (msg.interval/1000);\nmsg.output += msg.derivative * flow.get('d');\n\n// Bound output by [0, max_output]\nmsg.output = Math.max(Math.min(msg.output, msg.max_output), 0);\n\n// Output updated last_error to flow context\nmsg.last_error = msg.error;\nflow.set('last_error', msg.last_error);\n\n// Set payload to element output\nmsg.payload = msg.output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":100,"wires":[["2f41ea61.b3ceb6","f9b8f609.cbdd48"]]},{"id":"7b1e086b.386788","type":"inject","z":"bd9705c2.b4b038","name":"default P","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":160,"y":320,"wires":[["8783d6c7.1e1968"]]},{"id":"8783d6c7.1e1968","type":"ui_numeric","z":"bd9705c2.b4b038","name":"","label":"Kp","tooltip":"","group":"426c6441.51808c","order":3,"width":"4","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99.8","step":"0.2","x":310,"y":320,"wires":[["ddd94d38.9adf"]]},{"id":"ddd94d38.9adf","type":"change","z":"bd9705c2.b4b038","name":"","rules":[{"t":"set","p":"p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":320,"wires":[[]]},{"id":"edab53d5.7eabc","type":"inject","z":"bd9705c2.b4b038","name":"default I","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":160,"y":360,"wires":[["7bfe2199.bb783"]]},{"id":"7bfe2199.bb783","type":"ui_numeric","z":"bd9705c2.b4b038","name":"","label":"Ki","tooltip":"","group":"426c6441.51808c","order":5,"width":"4","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":310,"y":360,"wires":[["9b55128f.12455"]]},{"id":"9b55128f.12455","type":"change","z":"bd9705c2.b4b038","name":"","rules":[{"t":"set","p":"i","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":360,"wires":[[]]},{"id":"5f29b4b4.bf264c","type":"inject","z":"bd9705c2.b4b038","name":"default D","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":160,"y":400,"wires":[["7c96d372.5797ec"]]},{"id":"7c96d372.5797ec","type":"ui_numeric","z":"bd9705c2.b4b038","name":"","label":"Kd","tooltip":"","group":"426c6441.51808c","order":7,"width":"4","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":310,"y":400,"wires":[["fb8d258.ff8fdd8"]]},{"id":"fb8d258.ff8fdd8","type":"change","z":"bd9705c2.b4b038","name":"","rules":[{"t":"set","p":"d","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[[]]},{"id":"99d75dcc.13ad1","type":"link in","z":"bd9705c2.b4b038","name":"Mash PID display","links":["488e4b0e.1f641c","cfaeaee6.2a6ab","2f41ea61.b3ceb6","b03861ae.6591"],"x":835,"y":120,"wires":[["aacbedd.33ae01","fd64fc10.fd5a5","a73196a2.4c2d78","a824280b.ca88f8"]]},{"id":"fd64fc10.fd5a5","type":"ui_text","z":"bd9705c2.b4b038","group":"426c6441.51808c","order":6,"width":2,"height":1,"name":"PID Integrator","label":"Integral","format":"{{integrator | number:1}}°F⦁s","layout":"col-center","x":980,"y":100,"wires":[]},{"id":"aacbedd.33ae01","type":"ui_text","z":"bd9705c2.b4b038","group":"426c6441.51808c","order":4,"width":2,"height":1,"name":"PID Error","label":"Error","format":"{{last_error | number:1}}°F","layout":"col-center","x":960,"y":60,"wires":[]},{"id":"a73196a2.4c2d78","type":"ui_text","z":"bd9705c2.b4b038","group":"426c6441.51808c","order":8,"width":2,"height":1,"name":"PID Derivative","label":"Derivative","format":"{{derivative | number:1}}°F/s","layout":"col-center","x":980,"y":140,"wires":[]},{"id":"a824280b.ca88f8","type":"ui_text","z":"bd9705c2.b4b038","group":"426c6441.51808c","order":1,"width":2,"height":1,"name":"Mash Target","label":"Target","format":"{{mash_target | number:1}}°F","layout":"col-center","x":970,"y":180,"wires":[]},{"id":"dab63a76.6991b8","type":"ui_text","z":"b092337.00d0bd","group":"426c6441.51808c","order":2,"width":"2","height":1,"name":"Element Output","label":"Output","format":"{{payload | number:0}}","layout":"col-center","x":280,"y":120,"wires":[]}]